@charset "UTF-8";

html {
    font-size: 100%;
}

*{
    margin: 0;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.select ul{
    display: block;
}

.select-float li{
    float: left;
    padding:30px 50px 30px 0;
    font-size: 40px;

}
.top-wrapper{
    background-color: rgba(255, 195, 232, .5);
    background-image: url(top_img01.jpg);
    background-repeat: repeat;
    height: 789px;
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
}

.main{
    margin-top: 689px;
    position: relative;
    z-index: 1;
}
.select{
    background-color: #fff;
    height: 100px;
    width: 100%;
    display: flex;
}

.select-logo{
    padding: 30x 100px 30px 30px;
    font-size: 40px

}

.info{
    background-color: #f85ea5;
    height: 350px;
}

.contents{
    background-color: #fff;
    height: 500px;
}

footer{
    background-color: rgba(255, 195, 232, 1);
    height: 100px;
    position: relative;
    z-index: 1;
}

