@charset "UTF-8";

html {
    font-size: 100%;
}

*{
    margin: 0;
    width: 100%;
}

.top-wrapper{
    background-color:#ffcae9;
    height: 789px;
    position: fixed;
    top: 0;
    z-index: 0;
}

.main{
    margin-top: 689px;
    position: relative;
    z-index: 1;
}
.select{
    background-color: #fff;
    height: 100px;
}

.info{
    background-color: #fa0089;
    height: 200px;
}

