@charset "UTF-8";

html {
    font-size: 100%;
}

*{
    margin: 0;
}

li{
    list-style: none;
    
}

.select li{
    color: rgb(255, 78, 172);
}

.top-wrapper{
    background-color: rgba(255, 195, 232, .5);
    background-image: url(top_img01.jpg);
    background-repeat: repeat;
    height: 789px;
    position: fixed;
    top: 0;
    z-index: 0;
    width: 100%;
}

.main{
    margin-top: 689px;
    position: relative;
    z-index: 1;
    width: 100%;
}
.select{
    background-color: #fff;
    height: 100px;
    float: left;
    width: 100%;
}

.select-logo{
    padding: 20px 20px;
}

.info{
    background-color: #ff33a3;
    height: 350px;
    width: 100%;
}

.contents{
    background-color: #fff;
    height: 500px;
    width: 100%;
}

footer{
    background-color: rgba(255, 195, 232, 1);
    height: 100px;
    position: relative;
    z-index: 1;
    width: 100%;
}

